#logos-section {
  width: 100%;

  /* Ancho total del contenedor */
  overflow: hidden;
}

#logo {
  display: inline-flex;
  width: 100px;
  height: auto;
  filter: grayscale(100%);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-800%);
  }
}

#logo {
  animation: slide 20s linear infinite;
}
/* inspired form gumroad website */
.button {
  --bg: #000;
  --hover-bg: #f19440;
  --hover-text: #000;
  color: #fff;

  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.3rem, -0.3rem);
  background: var(--hover-bg);
  box-shadow: 0.3rem 0.3rem var(--bg);
}

.button:active {
  color: var(--hover-text);
  transform: translate(-0.1rem, -0.1rem);
}
